/* ====== MAIN DOCUMENT SETTINGS ====== */


.main_body {
    height: 100vh;
    background-color: whitesmoke;
}

.hide {
    display: none;
}

/* ====== LANDING PAGE SETTINGS ====== */

.landing_page {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.5);
    background-size: cover;
    background-position: center;
    background-image: url("./images/landing_page_1.jpg");
    z-index: 2;
}

.welcome {
    top: 35%;
}

.welcome > h1 {
    margin-top: 0px;
}

.welcome > h3 {
    margin-bottom: 10%;
}

.welcome, .disclaimer {
    position: relative;
    text-align: center;
    color: white;
}


.disclaimer {
    top: 49%;
    font-size: 9px;
}

.accept-btn {
    top: 47%;
    position: relative;
}

.opaque_layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
}

/* ====== CATEGORY PAGE SETTINGS ====== */

.display_category_options_page {
    height:100%;
}

.weather_display {
    height: 20%;
    background-color: #A9DE7D;
    color: #152F00;
    text-align: center;
}

.display_category_options_page > .weather_display {
    height: 8%;
    background-color: #A9DE7D;
    color: #152F00;
}


.yelp_categories {
    height: 90%;
    background-color: whitesmoke;
}

.yelp_categories > h2 {
    text-align: center;
}

.categ-button  {
    height: 20vmin;
    width: 27vmin;
    display: inline-block;
    cursor: pointer;
    font-size: 0;
}

.pizza-container,.chinese-container, .smokehouse-container, .street-vendors, .desserts-container, .sushi-container {
    width: 45vmin;
    display: inline-block;
    text-align: center;
}

.pizza-container div {
    background: url("images/pizza.png") center center no-repeat;
    background-size: contain;

}

.chinese-container div {
    background: url("images/chinese.png") center center no-repeat;
    background-size: contain;
}

.smokehouse-container div {
    background: url("images/smokehouse.png") center center no-repeat;
    background-size: contain;
}

.street-vendors div {
    background: url("images/foodTruck.png") center center no-repeat;
    background-size: contain;
}

.desserts-container div {
    background: url("images/dessert.png") center center no-repeat;
    background-size: contain;
}

.sushi-container div {
    background: url("images/sushi.png") center center no-repeat;
    background-size: contain;
}

.food-title {
    text-shadow: 1px 1px rgba(21, 22, 32, 0.47);
    color: black;
    margin-top: 0;
}

.food-main-title {
    text-shadow: 1px 1px gray;
}

.button-container-food-options {
    text-align: center;
}

/* ====== RESTAURANT SNAPSHOT PAGE SETTINGS ====== */

.display_restaurant_data_page {
    text-align: center;
}
.city_display{
    margin: 5%;
}

.restaurant_info {
    margin-top: 5%;
    font-size: 5vmin;
}

.main-image {
    height: 50vmin;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button_containers {
    margin-top: 5%;
}

/* ====== WEATHER MODUAL SETTINGS ====== */

.temp_display, .city_display {
    display:inline-block;
}

/* ====== FULL RESTAURANT PAGE SETTINGS ====== */

.full_restaurant_page {
    height: 100%;
}

.map_container {
    height: 35%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
}

.marker {
  background-image: url("./images/map_icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.full_restaurant_selection {
    height: 60%;
    background-color: #755c30;
    text-align: center;
}

#allImages {
    width: 100%;
    height: 20vmin;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.restaurant_info_final_selection {
    margin-top: 5%;
    font-size: 5vmin;
}

/* ====== END RESTAURANT PAGE SETTINGS ====== */









