/* ====== MAIN DOCUMENT SETTINGS ====== */


.main_body {
    height: 100vh;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.hide {
    display: none;
}

.btn-success {
    background-color: #017BB0;
    border-color: #017BB0;
}

.btn-danger {
    background-color: #e57373;
    border-color: #e57373;
}

/* ====== LANDING PAGE SETTINGS ====== */

.landing_page {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.5);
    background-size: cover;
    background-position: center;
    background-image: url("./images/landing_page_1.jpg");
    z-index: 2;
}

.welcome {
    top: 35%;
}

.welcome > h1 {
    margin-top: 0px;
}

.welcome > h3 {
    margin-bottom: 10%;
}

.welcome, .disclaimer {
    position: relative;
    text-align: center;
    color: white;
}


.disclaimer {
    top: 49%;
    font-size: 9px;
}

.accept-btn {
    top: 47%;
    position: relative;
}

.opaque_layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
}

/* ====== CATEGORY PAGE SETTINGS ====== */

.display_category_options_page {
    position: relative;
    height: 100%;
}

.weather_display {
    position: relative;
    background-color: #455A64;
    color: #BDBDBD;
    font-size: 2.0rem;
    text-align: center;
    height: 10%;
}

.display_category_options_page > .weather_display {
    height: 8%;
    background-color: #455A64;
    color: #BDBDBD;
    font-size: 2.0rem;
}


.yelp_categories {
    height: 90%;
    background-color: whitesmoke;
}

.yelp_categories > h2 {
    text-align: center;
}

.categ-button  {
    height: 20vmin;
    width: 27vmin;
    display: inline-block;
    cursor: pointer;
    font-size: 0;
}

.pizza-container,
.chinese-container,
.smokehouse-container,
.street-vendors,
.desserts-container,
.sushi-container,
.thai-container,
.vegan-container {
    width: 45vmin;
    display: inline-block;
    text-align: center;
}

.pizza-container div {
    background: url("images/pizza.png") center center no-repeat;
    background-size: contain;

}

.chinese-container div {
    background: url("images/chinese.png") center center no-repeat;
    background-size: contain;
}

.smokehouse-container div {
    background: url("images/smokehouse.png") center center no-repeat;
    background-size: contain;
}

.street-vendors div {
    background: url("images/foodTruck.png") center center no-repeat;
    background-size: contain;
}

.desserts-container div {
    background: url("images/dessert.png") center center no-repeat;
    background-size: contain;
}

.sushi-container div {
    background: url("images/thai.png") center center no-repeat;
    background-size: contain;
}

.thai-container div {
    background: url("images/sushi.png") center center no-repeat;
    background-size: contain;
}

.vegan-container div {
    background: url("images/vegan.png") center center no-repeat;
    background-size: contain;
}

.food-title {
    color: black;
    margin-top: 0;
}



.button-container-food-options {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* ====== RESTAURANT SNAPSHOT PAGE SETTINGS ====== */

.display_restaurant_data_page {
    position: relative;
    height: 100%;
}

.main-image {
    height: 50vmin;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.restaurant_container {
    position: absolute;
    width: 90%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid grey;
    background-color: white;
    box-shadow: 0px 10px 38px rgba(0, 0, 0, 0.3), 0px 0px 12px rgba(0, 0, 0, 0.22);
}

.restaurant_container > #foodImages > img {
    border: 0px solid white;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3)
}

h3#restaurantName {
    margin-left: 5%;
}

.restaurant_info {
    font-size: 5vmin;
    margin-left: 5%;
}

.stars, .review_count {
    display: inline-block;
}

.review_count {
    padding-left: 5%;
}

.price_rating {
    margin-bottom: 3%;
}

.button_containers {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 10%;

}

#noButton, #yesButton{
    width: 49%;
    height: 100%;
    font-size: 30px;
}

/* ====== WEATHER MODUAL SETTINGS ====== */

.temp_display, .city_display {
    display:inline-block;
}

.city_display{
    margin: 5%;
}

/* ====== FULL RESTAURANT PAGE SETTINGS ====== */

.full_restaurant_page {
    height: 100%;
}

.map_container {
    height: 30%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
}

.marker {
  background-image: url("./images/map_icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.full_restaurant_selection {
    height: 60%;
    text-align: left;
    padding-left: 5%;
}

#allImages {
    width: 100%;
    height: 20vmin;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.restaurant_info_final_selection {
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 5vmin;
    height: 20%;
    width:  100%;
    position: relative;

}

.full_restaurant_selection > .restaurant_info_final_selection {
    margin-top: 0;
    margin-bottom: 0;
}

.phone_dollar > .price_rating, .phone_dollar > .phone_number {
    display: inline-block;
}

.phone_dollar > .phone_number {
    padding-left: 5%;
}

.carousel_slider {
    position: relative;
    right: 2.5%;
}


/* ====== END RESTAURANT PAGE SETTINGS ====== */

.display_category_options_page{
    position: relative;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20%;
    width: 45%;
    z-index: 4;
}

#spinnerGif{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.numberOfRestaurants {
    position: absolute;
    top: 0;
    color:#f00;
    background-color:rgba(255,255,255,0.8);
    padding: 5px;
    text-shadow: 1px 1px black;
    font-weight: bold;
    font-size: 5vmin;
}

.logoContainer{
    position: absolute;
    top: 4px;
    left: 4px;
    height: 100%;
}

.logo{
    height: 82%;
}

.yelpLink{
    position: absolute;
    height: 100%;
    bottom: 25%;
    right: 8%;
}

.yelpIcon{
    height: 75%;
    border-radius: 10%;
}